<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="bootstrap-wrapper">
    <div class="container mt">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="forget-password-form">
            <div class="container text-center">
              <img class="img-fluid" src="/assets/ResetPwd_icon.png" alt="">
            </div>
            <h1 class="text-center">Forgot Password</h1>

            <!-- Forget Password form -->
            <form>
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  class="form-control"
                  required
                  [(ngModel)]="email"
                  name="email"
                  type="email"
                  disabled
                />
              </div>

              <div class="form-group-row">
                <div class="form-group">
                  <label for="password">New Password:</label>
                  <input
                    class="form-control"
                    required
                    [(ngModel)]="password1"
                    name="password"
                    type="password"
                  />
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input
                    class="form-control"
                    required
                    [(ngModel)]="password2"
                    name="confirmPassword"
                    type="password"
                  />
                </div>
              </div>

              <!-- Rest of the form remains unchanged -->

              <div class="container text-center">
                <button type="submit" (click)="resetPassword()" class="btn btn-primary">Reset Password</button>
                <button style="margin-left: 10px;" type="reset" class="btn btn-secondary">Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

